<template>
  <v-app dark>
    <v-app-bar app color="deep-purple darken" dark>
      <div>
        <div class="text-h6">Slotbot</div>
        <div class="text-caption">A Legends of Runeterra Randomizer</div>
      </div>
      <v-spacer />
      <div class="text-caption text-right">
        <div>
          Made with ♥ by
          <a class="white--text" href="https://twitter.com/Jzolago">Jzolago</a>
        </div>
        <div>
          Send me a
          <a class="white--text" href="https://ko-fi.com/jzolago">Ko-fi</a>!
        </div>
      </div>
    </v-app-bar>

    <v-main dark>
      <v-container>
        <v-card>
          <v-card-title>Filters</v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-checkbox
                  v-for="(type, i) in options.types"
                  :key="i"
                  class="mr-4"
                  :label="type"
                  v-model="types[type]"
                />
              </v-row>
            </v-container>
            <v-divider />
            <v-subheader>Regions</v-subheader>
            <v-container>
              <v-row>
                <template v-for="(regionName, regionKey) in options.regions">
                  <v-checkbox
                    class="mr-4"
                    :key="regionKey"
                    :label="regionName"
                    :value="regionKey"
                    v-model="regions[regionKey]"
                  />
                </template>
              </v-row>
              <v-btn
                color="primary"
                size="small"
                text
                @click="selectRandomRegions(2)"
                >Get 2 random regions</v-btn
              >
            </v-container>
            <v-divider />
            <v-subheader>Rarity</v-subheader>
            <v-container>
              <v-row>
                <v-checkbox
                  v-for="(rarity, i) in options.rarities"
                  :key="i"
                  class="mr-4"
                  :label="rarity"
                  v-model="rarities[rarity]"
                />
              </v-row>
            </v-container>
            <v-divider />
            <v-subheader>Mana Cost</v-subheader>
            <v-container>
              <v-row dense>
                <template v-for="i of 11">
                  <v-checkbox
                    class="mr-3"
                    dense
                    :key="i"
                    :label="`${String(i - 1)}${i === 11 ? '+' : ''}`"
                    v-model="mana[i - 1]"
                  />
                </template>
              </v-row>
            </v-container>
            <v-divider class="mb-4" />
            <v-text-field
              dense
              outlined
              label="How many cards?"
              persistent-hint
              hint="Setting to zero will get all cards"
              type="number"
              min="0"
              v-model="count"
            />
          </v-card-text>
          <v-card-actions class="text-right">
            <v-btn color="primary" @click="getRandomCards">
              Randomize!
            </v-btn>
            <v-btn color="gray" text @click="reset">
              Reset Filters
            </v-btn>
          </v-card-actions>
        </v-card>

        <v-container class="mb-8">
          <div class="text-h6">Selected Cards</div>
          <div class="text-caption">Click cards to remove</div>
          <card-grid :cards="pickedCards" @click="deselectCard" />
        </v-container>

        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Filtered Cards ({{ filteredCards.length }})
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <card-grid :cards="filteredCards" @click="selectCard" />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { filterCards } from "./cards.service";
import CardGrid from "./components/CardGrid.vue";
import regions from "./models/regions";
import { getRandomIntegers } from "./models/random";

export default {
  name: "App",
  components: {
    CardGrid,
  },
  data: () => ({
    options: {
      regions,
      rarities: ["Common", "Rare", "Epic", "Champion"],
      types: ["Unit", "Spell", "Landmark"],
    },
    types: {},
    regions: {},
    mana: {},
    rarities: {},
    count: 1,
    filteredCards: [],
    pickedCards: [],
  }),

  methods: {
    getRandomCards() {
      const filtered = filterCards({
        regions: this.regions,
        types: this.types,
        mana: this.mana,
        rarities: this.rarities,
        count: this.count,
      });

      if (this.count > filtered.length) {
        this.count = filtered.length;
      }

      this.filteredCards = [...filtered];
      const randomizedIndices = getRandomIntegers(
        0,
        this.filteredCards.length,
        this.count
      );
      this.pickedCards = [
        ...randomizedIndices.map((index) => this.filteredCards[index]),
      ];
    },
    deselectCard(index) {
      this.pickedCards.splice(index, 1);
    },
    selectCard(index) {
      this.pickedCards.push(this.filteredCards[index]);
    },
    reset() {
      this.regions = Object.assign({}, {});
      this.mana = Object.assign({}, {});
      this.types = Object.assign({}, {});
      this.rarities = Object.assign({}, {});
    },
    selectRandomRegions(count = 2) {
      const selected = getRandomIntegers(0, Object.keys(regions).length, count);
      const regionKeys = Object.keys(regions);
      this.regions = Object.assign(
        {},
        {
          [regionKeys[selected[0]]]: regionKeys[selected[0]],
          [regionKeys[selected[1]]]: regionKeys[selected[1]],
        }
      );
    },
  },
};
</script>
